<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Action Form <strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input [formControl]="first" placeholder="{{action}} First Name" matInput [(ngModel)]="local_data.firstName">
        <mat-error *ngIf="first.invalid">{{getErrorMessageFirst()}}</mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="action != 'Delete'">
        <input [formControl]="last" placeholder="{{action}} Last Name" matInput [(ngModel)]="local_data.lastName">
        <mat-error *ngIf="last.invalid">{{getErrorMessageLast()}}</mat-error>
    </mat-form-field>
    <!-- <mat-form-field *ngIf="action != 'Delete'">
        <input type="email" placeholder="{{action}} email" matInput [(ngModel)]="local_data.email">
    </mat-form-field> -->

    <mat-form-field *ngIf="action != 'Delete'" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input  matInput placeholder="{{action}} your email"  [formControl]="email" [(ngModel)]="local_data.email"
            required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    
    <mat-form-field *ngIf="action != 'Delete'">
        <input  [minlength]="4" [formControl]="pass" placeholder="{{action}} password" matInput [(ngModel)]="local_data.password">
        <mat-error *ngIf="pass.invalid">{{getErrorMessagePass()}}</mat-error>
    </mat-form-field>
    <ng-template #elseTemplate>
        Sure to delete <b>{{local_data.firstName+" "+local_data.lastName}}</b>?
    </ng-template>
</div>
<div mat-dialog-actions>
    <button *ngIf="action != 'Delete'; else elseTemplate3" [disabled]="!(email.valid && pass.valid && first.valid && last.valid)"  mat-button (click)="doAction()">{{action}}</button>
    <ng-template #elseTemplate3>
    <button mat-button (click)="doAction()">{{action}}</button>
</ng-template>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>