
    <img src="{{this.coupon.image}}" width="190px" height="190px" class="img-responsive">
    <div > 
    <p>Company Id: {{this.coupon.companyID}}</p>
    <p>Category: {{this.coupon.category}}</p>
    <p>Title: {{this.coupon.title}}</p>
    <p>Description: {{this.coupon.description}}</p>
    <p>Start Date: {{this.coupon.startDate |date: 'dd/MM/yyyy'}}</p>
    <p>End Date: {{this.coupon.endDate |date: 'dd/MM/yyyy'}}</p>
    <p>Amount: {{this.coupon.amount}}</p>
    <p>Price: {{this.coupon.price}}</p>
</div>




<!-- public companyID: number;
  
  
 
  public : number;
  public price: number;
  public image: string; -->


   

